@page 
@model LoginModel


<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>

</div>
<div class="row justify-content-center align-items-center">
    <form class="social-login col-lg-4" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Влез</h1>
        <div style="text-align: center">
            <p>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn btn-lg btn-@provider.Name.ToLower() btn-block text-uppercase" name="provider" value="@provider.Name"><i class="fab fa-@provider.Name.ToLower() mr-2"></i> @provider.DisplayName</button>
                }
            </p>
            <p style="text-align: center">Или</p>
        </div>
    </form>

</div>

<div class="row justify-content-center align-items-center">
    <form class="form-signin col-lg-4" id="account" method="post">

        <div asp-validation-summary="All" class="text-danger">
        </div>
            <div class="form-group">
                <label asp-for="Input.UserNameEmail"></label>
                <input asp-for="Input.UserNameEmail" class="form-control" placeholder="Потребителско име/Имейл" />
                <span asp-validation-for="Input.UserNameEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="Парола" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
     

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Влез</button>
        </div>
        <div class="form-group">
            <p>
                <a class="btn btn-secondary btn-block" id="forgot-password" asp-page="./ForgotPassword">Забравена парола</a>
            </p>
            <p>
                <a class="btn btn-primary btn-block" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
            </p>
        </div>
        <hr>
        <!-- <p>Don't have an account!</p>  -->

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
