@using NeighbourhoodServices.Common
@using NeighbourhoodServices.Web.Pages
@model NeighbourhoodServices.Web.ViewModels.Home.IndexViewModel

<div class="hero-wrap img" style="background-image: url(images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-10 d-flex align-items-center ftco-animate">
                <div class="text text-center pt-5 mt-md-5">
                    <p class="mb-4">Лесен Начин Да Опознаеш Съседите Си</p>
                    <h1 class="mb-5">Имаш Нужда От Услуга? Довери Се На Съсед</h1>
                    <div class="ftco-counter ftco-no-pt ftco-no-pb">
                        <div class="row justify-content-center">
                            <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                                <div class="block-18 text-center">
                                    <div class="text d-flex">
                                        <div class="icon mr-2">
                                            <span class="fas fa-book"></span>
                                        </div>
                                        <div class="desc text-left">
                                            <strong class="number" data-number="@Model.Categories.Sum(x=>x.ServicesCount)">0</strong>
                                            <span>Обяви</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                                <div class="block-18 text-center">
                                    <div class="text d-flex">
                                        <div class="icon mr-2">
                                            <span class="fas fa-users"></span>
                                        </div>
                                        <div class="desc text-left">
                                            <strong class="number" data-number="@Model.AspNetUsersCount">0</strong>
                                            <span>Съседи</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <partial name="_Search" />
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="category-wrap">
                    <div class="row no-gutters">
                        @foreach (var category in Model.Categories)
                        {
                            <div class="col-md-2">

                                <a asp-controller="Categories" asp-action="AnnouncementsByCategory" asp-route-categoryName="@category.Name">
                                    <div class="top-category text-center no-border-left">
                                        <h3>@category.Name</h3>
                                        <span class="fas fa-align-justify"></span>
                                        <p><span class="number">@category.ServicesCount</span> <span>Активни обяви</span></p>
                                    </div>
                                </a>


                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section services-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-0">Топ Категории</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var category in Model.Categories.OrderByDescending(x => x.ServicesCount).Take(4))
            {
                <div class="col-md-3 ftco-animate">
                    <ul class="category text-center">
                        <li><a href="@category.Name">@category.Name<br><span class="number">@category.ServicesCount</span> <span>Активни обяви</span><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pr-lg-5">
                <div class="row justify-content-center pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading">Последни Обяви</span>
                        <h2 class="mb-4">Последни @IndexConstants.TopAnnouncementsCount Обяви</h2>
                    </div>
                </div>
                <div class="row">
                    <partial name="_Anouncement" , model="@Model" />
                </div>
            </div>
            <div class="col-lg-3 sidebar">
                <div class="row justify-content-center pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">Топ Профили</h2>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    @foreach (var user in Model.TopUsers)
                    {
                        <div class="">

                            <a class="company-wrap"><img src="@user.ProfilePictureUrl" class="img-fluid img-thumbnail"></a>
                            <div class="text p-3">
                                <h3><a asp-controller="Users" asp-action="UserProfile" asp-route-id="@user.Id">@user.UserName</a></h3>
                                <a asp-controller="Announcements" asp-action="GetByUser" asp-route-id="@user.Id"><span class="number">@user.AnnouncementsCount</span> <span>Обяви</span></a>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_Subscribe" />

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


