@using Microsoft.AspNetCore.Identity
@using NeighbourhoodServices.Data.Models
@inject UserManager<ApplicationUser> UserManager
@{
    var userId = UserManager.GetUserId(this.User);
}

@if (Model.Announcements.Count==0)
{
    <div class="text-center"><h1>Не бяха намерени обяви</h1></div>

}
@foreach (var announcement in Model.Announcements)
{

    <div class="col-md-12 ftco-animate">
        <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
            <div class="one-third mb-4 mb-md-0">
                <div class="align-items-center">
                    <h2 class="mr-3 text-black">@announcement.Title</h2>
                    <span class="subadge">@announcement.ServiceType</span>
                    <div>@announcement.Description</div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                    <div class="mr-3"><span class="icon-user"></span> <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@announcement.UserId">@announcement.User</a></div>
                    <div class="mr-3"><span class="icon-my_location"></span> <span>@announcement.Place</span></div>
                    <div class="mr-3"><span class="icon-calendar"></span> <span>@announcement.CreatedOn</span></div>
                    <div class="mr-3"><span class="icon-align-justify"></span> <a asp-controller="Categories" asp-action="AnnouncementsByCategory" asp-route-categoryName="@announcement.CategoryName">@announcement.CategoryName</a></div>
                </div>
                <div>


                    @if (userId == announcement.UserId || User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-danger" type="submit" asp-controller="Announcements" asp-action="Delete" asp-route-id="@announcement.Id">Изтрий</a>
                        <a class="btn btn-secondary" type="submit" asp-controller="Announcements" asp-action="GetUpdateView" asp-route-id="@announcement.Id">Редактирай</a>
                    }
                </div>


            </div>

            <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                <div>
                    <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                        <span class="icon-heart"></span>
                    </a>
                </div>

                <a asp-controller="Announcements" asp-action="GetDetails" asp-route-id="@announcement.Id" class="btn btn-primary py-2">Детайли</a>
            </div>
        </div>
    </div>

}

