@using NeighbourhoodServices.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">

        <link rel="stylesheet" href="css/owl.carousel.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" asp-append-version="true">


        <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/icomoon.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
        @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
            <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />*@
    </environment>
    <environment names="Staging,Production">
        @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
            <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />*@
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container-fluid px-md-4	">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Обяви</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Предложи Услуга</a>
                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Форум</a>
                        </li>
                        <li class="nav-item cta cta-colored">
                            <a class="nav-link" asp-area="" asp-controller="Announcement" asp-action="Announcement">Публикувай Обява</a>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />
    @this.RenderBody()
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Skillhunt Jobboard</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Employers</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="pb-1 d-block">Browse Candidates</a></li>
                            <li><a href="#" class="pb-1 d-block">Post a Job</a></li>
                            <li><a href="#" class="pb-1 d-block">Employer Listing</a></li>
                            <li><a href="#" class="pb-1 d-block">Resume Page</a></li>
                            <li><a href="#" class="pb-1 d-block">Dashboard</a></li>
                            <li><a href="#" class="pb-1 d-block">Job Packages</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Candidate</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="pb-1 d-block">Browse Jobs</a></li>
                            <li><a href="#" class="pb-1 d-block">Submit Resume</a></li>
                            <li><a href="#" class="pb-1 d-block">Dashboard</a></li>
                            <li><a href="#" class="pb-1 d-block">Browse Categories</a></li>
                            <li><a href="#" class="pb-1 d-block">My Bookmarks</a></li>
                            <li><a href="#" class="pb-1 d-block">Candidate Listing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Account</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="pb-1 d-block">My Account</a></li>
                            <li><a href="#" class="pb-1 d-block">Sign In</a></li>
                            <li><a href="#" class="pb-1 d-block">Create Account</a></li>
                            <li><a href="#" class="pb-1 d-block">Checkout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <environment names="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.easing.1.3.js"></script>
        <script src="~/js/jquery.waypoints.min.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/aos.js"></script>
        <script src="~/js/jquery.animateNumber.min.js"></script>
        <script src="~/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="~/js/google-map.js"></script>
        <script src="~/js/main.js"></script>
        @*<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        @*<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
