@using Microsoft.AspNetCore.Http.Extensions
@model NeighbourhoodServices.Web.ViewModels.Announcements.AnnouncementDetails;

<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</div>
<div class="col-md-12 ftco-animate">
    <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
        <div class="one-third mb-4 mb-md-0">
            <div class="align-items-center">
                <h2 class="mr-3 text-black"><a href="#">@Model.Title</a></h2>
                <span class="subadge">@Model.ServiceType</span>
                <div>@Model.Description</div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
                <div class="mr-3"><span class="icon-layers"></span> <a href="#">@Model.User</a></div>
                <div><span class="icon-my_location"></span> <span>@Model.Place</span></div>
                <div><span class="icon-my_location"></span> <span>@Model.CreatedOn</span></div>
                <div><span class="icon-my_location"></span> <span>@Model.CategoryName</span></div>
            </div>
            <div>


               </div>

            <div class="fb-share-button" data-href=" @Context.Request.GetEncodedUrl()" data-layout="button_count" data-size="large"><a target="_blank" href="" class="fb-xfbml-parse-ignore">Споделяне</a></div>

        </div>

        <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
            <div>
                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                    <span class="icon-heart"></span>
                </a>
            </div>
        </div>



    </div>
</div>
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v6.0"></script>
