@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using NeighbourhoodServices.Data.Models
@using NeighbourhoodServices.Web.Pages
@model NeighbourhoodServices.Web.ViewModels.Announcements.AnnouncementDetails;
@inject UserManager<ApplicationUser> UserManager
@{
    var userId = UserManager.GetUserId(User);
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</div>
<div class="text-center"><h1>Детайли за обява @Model.Title</h1></div>
<div class="col-md-12 ftco-animate">
    <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
        <div class="one-third mb-4 mb-md-0">
            <div class="align-items-center">
                <h2 class="mr-3"><a>@Model.Title</a></h2>
                <span class="subadge">@Model.ServiceType</span>
                <div>@Model.Description</div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
                <div class="mr-3"><span class="icon-layers"></span> <a href="#">@Model.User</a></div>
                <div class="mr-3"><span class="icon-my_location"></span> <span>@Model.Place</span></div>
                <div class="mr-3"><span class="icon-my_location"></span> <span>@Model.CreatedOn</span></div>
                <div class="mr-3"><span class="icon-my_location"></span> <span>@Model.CategoryName</span></div>
                <div class="mr-3"><span class="icon-money"></span> <span>@Model.Price</span></div>
            </div>
            <div>
                @(await Html.RenderComponentAsync<Ratings>(RenderMode.ServerPrerendered))

            </div>

            <div class="fb-share-button" data-href=" @Context.Request.GetEncodedUrl()" data-layout="button_count" data-size="large"><a target="_blank" href="" class="fb-xfbml-parse-ignore">Споделяне</a></div>

        </div>
    </div>
</div>
<hr />
<div class="justify-content-center"><h3>Коментари</h3></div>


@foreach (var comment in Model.Comments)
{<div class="col-md-12 ftco-animate">
        <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
            <div class="one-third mb-4 mb-md-0">
                <div class="align-items-center">
                    <img src="@comment.UserProfilePictureUrl" class="avatar rounded-circle" />
                    <p>
                        <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@comment.UserId" class="text-secondary text-left"><strong>@comment.UserUserName</strong></a>
                    </p>

                    <p>@comment.Text</p>
                    <p>@comment.CreatedOn</p>
                    @if (comment.UserId == userId || User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-danger" type="submit" asp-controller="Comments" asp-action="Delete" asp-route-commentId="@comment.Id">Изтрий</a>
                    }
                </div>
            </div>
        </div>

    </div>
}




<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 mb-5">

                <form method="post" class="p-5 bg-white">

                    <div class="row form-group">
                        <div class="col-md-12"><h3>Коментирай</h3></div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <textarea name="text" class="form-control" id="" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Изпрати" asp-controller="Comments" asp-action="Create" asp-route-AnnouncementId="@Model.Id" asp-route-UserId="@userId" class="btn btn-primary  py-2 px-5">
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>
    }
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v6.0"></script>
