@using NeighbourhoodServices.Data.Models
@model NeighbourhoodServices.Web.ViewModels.Announcements.AnnouncementUpdateModel
@{
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
   
</div>
<div class="text-center"><h1>Редактирай обява</h1></div>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-12 mb-5">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form method="post" class="p-5 bg-white">

                    <h3>Вид на услугата</h3>
                    <div class="radio">
                        @{
                            var serviceTypes = Enum.GetValues(typeof(ServiceType));
                            @foreach (var serviceType in serviceTypes)
                            {
                                var check = serviceType.ToString() == Model.Announcement.ServiceType.ToString() ? "checked" : string.Empty;
                                <label><input @check type="radio" name="ServiceType" value="@serviceType">@serviceType</label>
                            }
                        }
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12">
                            <h3>Тема</h3>
                        </div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <input type="text" class="form-control" name="title" value="@Model.Announcement.Title">
                        </div>
                    </div>
                    <div class="row form-group">

                        <div class="col-md-12">
                            <h3>Описание</h3>
                        </div>

                        <div class="col-md-12 mb-3 mb-md-0">
                            <textarea name="description" class="form-control" id="" cols="30" rows="5">@Model.Announcement.Description</textarea>

                        </div>
                    </div>
                    <div class="row form-group">
                    </div>
                    <div class="form-group">
                        <label>Бюджет</label>
                        <input type="number" class="form-control" min="0" name="price" value="@Model.Announcement.Price">
                    </div>

                    <div class="row form-group mb-4">
                        <div class="col-md-12">
                            <h3>Място</h3>
                        </div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <input type="text" class="form-control" name="place" value="@Model.Announcement.Place">

                        </div>
                    </div>
                    <div class=" row form-group col-md-4" name="category">
                        <label for="inputState">Категория</label>
                        <select id="inputState" class="form-control" name="category">

                            @foreach (var category in Model.Categories)
                            {
                                if (category.Name == @Model.Announcement.CategoryName)
                                {
                                    <option value="@category.Id" selected>@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }


                            }
                        </select>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Редактирай" asp-controller="Announcements" asp-action="Update" asp-route-id="@Model.Announcement.Id" class="btn btn-primary  py-2 px-5">
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>
